<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :family_name %><br />
    <%= f.text_field :family_name %>
  </div>
  <div class="field">
    <%= f.label :given_name %><br />
    <%= f.text_field :given_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.date_select :birth_date %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.check_box :gender %>
  </div>
  <div class="field">
    <%= f.label :tax_num %><br />
    <%= f.number_field :tax_num %>
  </div>
  <div class="field">
    <%= f.label :cell_num %><br />
    <%= f.number_field :cell_num %>
  </div>
  <div class="field">
    <%= f.label :blood_type %><br />
    <%= f.number_field :blood_type %>
  </div>
  <div class="field">
    <%= f.label :rh_factor %><br />
    <%= f.check_box :rh_factor %>
  </div>
  <div class="field">
    <%= f.label :additional_details %><br />
    <%= f.text_area :additional_details %>
  </div>
  <div class="field">
    <%= f.label :clinic_id %><br />
    <%= f.number_field :clinic_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
