%details
  %summary
    %b= t('.title')
  %dl
    %dt= Person.human_attribute_name(:family_name)
    %dd= person.family_name
    %dt= Person.human_attribute_name(:given_name)
    %dd= person.given_name
    %dt= Person.human_attribute_name(:middle_name)
    %dd= person.middle_name
    %dt= Person.human_attribute_name(:birth_date)
    %dd= format_date person.birth_date
    %dt= Person.human_attribute_name(:tax_num)
    %dd= person.tax_num
    %dt= Person.human_attribute_name(:registration_location)
    %dd
      - if person.registration_location
        = person.registration_location.formatted_address
      - else
        = t('.not_specified')
