<h1>Listing people</h1>

<table>
  <tr>
    <th>Family name</th>
    <th>Given name</th>
    <th>Middle name</th>
    <th>Birth date</th>
    <th>Gender</th>
    <th>Tax num</th>
    <th>Cell num</th>
    <th>Blood type</th>
    <th>Rh factor</th>
    <th>Additional details</th>
    <th>Clinic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.family_name %></td>
    <td><%= person.given_name %></td>
    <td><%= person.middle_name %></td>
    <td><%= person.birth_date %></td>
    <td><%= person.gender %></td>
    <td><%= person.tax_num %></td>
    <td><%= person.cell_num %></td>
    <td><%= person.blood_type %></td>
    <td><%= person.rh_factor %></td>
    <td><%= person.additional_details %></td>
    <td><%= person.clinic_id %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
