.row
  %h1{style: 'display: inline-block'} People
  = link_to 'New Person', new_person_path, class: 'btn btn-primary'

.row
  .span3
    = form_for :search do |f|
      .field
        %label Фамилия
        = f.text_field :family_name
      .field
      %label Имя
      = f.text_field :given_name
      .field
        %label Отчество
        = f.text_field :middle_name
      .field
        %label Телефон
        = f.text_field :phone_number
      .actions
        = f.submit 'Поиск', class: 'btn'
  .span9
    %table.table.table-condensed
      %thead
        %th Фамилия
        %th Имя
        %th Отчество
        %th Телефоны
        %th
      %tbody
        - @people.each do |person|
          %tr
            %td= person.family_name
            %td= person.given_name
            %td= person.middle_name
            %td= person.cell_num
            %td= link_to 'Show', person, class: 'btn btn-mini'
