%h1= t '.title'

%table.table.table-condensed.table-hover
  %thead
    %th= Person.human_attribute_name :family_name
    %th= Person.human_attribute_name :given_name
    %th= Person.human_attribute_name :middle_name
    %th= t '.phones'
  %tbody#people
    - @people.each do |person|
      %tr{ data: { url: person_path(person) } }
        %td= person.family_name
        %td= person.given_name
        %td= person.middle_name
        %td= person.phone_numbers.join(', ')
