%h1 People

%table.table
  %thead
    %th Family name
    %th Given name
    %th Middle name
    %th Birth date
    %th Gender
    %th Tax num
    %th Cell num
    %th Blood type
    %th Rh factor
    %th Additional details
    %th Clinic
    %th
    %th
    %th
  %tbody
    - @people.each do |person|
      %tr
        %td= person.family_name
        %td= person.given_name
        %td= person.middle_name
        %td= person.birth_date
        %td= person.gender
        %td= person.tax_num
        %td= person.cell_num
        %td= person.blood_type
        %td= person.rh_factor
        %td= person.additional_details
        %td= person.clinic_id
        %td= link_to 'Show', person
        %td= link_to 'Edit', edit_person_path(person)
        %td= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Person', new_person_path
