%h1 Клиенты

.row
  .span3
    .well
      = link_to new_person_path, class: 'btn btn-primary btn-block' do
        %i.icon-plus-sign.icon-white
        Добавить Клиента
    = simple_form_for :search, html: {class: 'form-vertical'} do |f|
      = f.input :family_name
      = f.input :given_name
      = f.input :middle_name
      = f.input :phone_number
      = f.button :submit, 'Search'
      = link_to 'Reset', people_path, class: 'btn'

  .span9
    %table#people.table.table-condensed.table-hover
      %thead
        %th Фамилия
        %th Имя
        %th Отчество
        %th Телефоны
      %tbody
        - @people.each do |person|
          = content_tag_for :tr, person, data: {url: person_path(person)} do
            %td= person.family_name
            %td= person.given_name
            %td= person.middle_name
            %td= person.phone_numbers.join(', ')
