%p#notice= notice

.page-header
  %h1
    = @person.full_name
    %small
      = @person.age
      - if @person.age % 10 == 1
        год
      - elsif (2..4).includes? @person.age % 10
        года
      - else
        лет

  .btn-group
    = link_to people_path, class: 'btn' do
      %i.icon-list
      Список клиентов
    = link_to edit_person_path(@person), class: 'btn' do
      %i.icon-edit
      Редактировать
    = link_to @person, method: :delete, class: 'btn btn-danger', confirm: 'Это необратимая операция. Вы уверены?' do
      %i.icon-remove.icon-white
      Удалить

= render partial: 'legal_information', locals: {person: @person}


- if @person.alerts.any?
  .alert
    %h4 Неполная информация о клиенте
    %ul
      - @person.alerts.each do |alert|
        %li= alert

%h3 Локации
= render partial: 'locations/grid', locals: { locations: @person.locations }
= link_to new_person_location_path(@person), class: 'btn' do
  %i.icon-plus-sign
  Добавить локацию

%h3 Медикаменты
= render partial: 'medications/grid', locals: { medications: @person.medications }
= link_to new_person_medication_path(@person), class: 'btn' do
  %i.icon-plus-sign
  Добавить медикамент

%h3 Аллергии
= render partial: 'allergies/grid', locals: { allergies: @person.allergies }
= link_to new_person_allergy_path(@person), class: 'btn' do
  %i.icon-plus-sign
  Добавить аллергию
