%p#notice= notice

%h1= @person.full_name

- if @person.alerts.any?
  .alert
    %h4 Неполная информация о клиенте
    %ul
      - @person.alerts.each do |alert|
        %li= alert

%dl
  %dt Дата Рождения:
  %dd= @person.birth_date

  %dt Пол
  %dd= @person.gender_text

  %dt Идентификационний номер
  %dd= @person.tax_num

  %dt Номаер телефона
  %dd= @person.cell_num

  %dt Группа крови
  %dd
    = @person.blood_type
    = @person.rh_factor ? '+' : '-'

  %dt Дополнительная информация
  %dd= @person.additional_details

  %dt Больница
  %dd= @person.clinic_id

  %h2 Локации
  = render partial: 'locations/grid', locals: { locations: @person.locations }
  = link_to new_person_location_path(@person), class: 'btn' do
    %i.icon-plus-sign
    Добавить локацию
