%p#notice= notice

.page-header
  %h1
    = @person.full_name
    %small
      = @person.age
      = text_for_age(@person.age)

  .btn-group
    = link_to people_path, class: 'btn' do
      %i.icon-list
      = t('people.index.title')
    = link_to edit_person_path(@person), class: 'btn' do
      %i.icon-edit
      = t('actions.edit')
    = link_to @person, method: :delete, class: 'btn btn-danger', confirm: t('remove_confirm') do
      %i.icon-remove.icon-white
      = t('actions.remove')

= render partial: 'alerts', locals: { person: @person }
= render partial: 'legal_information', locals: { person: @person }

= render partial: 'locations/grid', locals: { person: @person, locations: @person.locations }
= render partial: 'medications/grid', locals: { person: @person, medications: @person.medications }
= render partial: 'allergies/grid', locals: { person: @person, allergies: @person.allergies }
= render partial: 'emergency_contacts/grid', locals: { person: @person, emergency_contacts: @person.emergency_contacts }
