%p#notice= notice

.page-header
  %h1
    = @person.full_name
    %small
      = @person.age
      - if @person.age % 10 == 1
        год
      - elsif (2..4).includes? @person.age % 10
        года
      - else
        лет

  .btn-group
    = link_to people_path, class: 'btn' do
      %i.icon-list
      Список клентов
    = link_to edit_person_path(@person), class: 'btn' do
      %i.icon-edit
      Редактировать

- if @person.alerts.any?
  .alert
    %h4 Неполная информация о клиенте
    %ul
      - @person.alerts.each do |alert|
        %li= alert

%h3 Локации
= render partial: 'locations/grid', locals: { locations: @person.locations }
= link_to new_person_location_path(@person), class: 'btn' do
  %i.icon-plus-sign
  Добавить локацию

%h3 Аллергии
= render partial: 'allergies/grid', locals: { allergies: @person.allergies }
= link_to new_person_allergy_path(@person), class: 'btn' do
  %i.icon-plus-sign
  Добавить аллергию
