%p#notice= notice

%h1
  = @person.full_name
  %small
    = @person.age
    = text_for_age(@person.age)
  .pull-right
    = link_to edit_person_path(@person), class: 'btn' do
      %i.icon-edit
      = t('actions.edit')

%dl
  %dt= Person.human_attribute_name(:birth_date)
  %dd= l @person.birth_date
  %dt= Person.human_attribute_name(:tax_num)
  %dd= @person.tax_num

= render partial: 'locations/grid', locals: { person: @person, locations: @person.locations }
= render partial: 'medications/grid', locals: { person: @person, medications: @person.medications }
= render partial: 'allergies/grid', locals: { person: @person, allergies: @person.allergies }
= render partial: 'emergency_contacts/grid', locals: { person: @person, emergency_contacts: @person.emergency_contacts }

#modal.modal.hide.fade
