%h1
  = @user.persisted? ? t('actions.editing') : t('actions.adding')
  = t('.model_name_for_title')

= simple_form_for @user, html: { class: 'form-horizontal' } do |f|
  = f.input :login
  = f.input :password
  = f.input :password_confirmation
  = f.input :admin
  = f.input :family_name
  = f.input :given_name
  = f.input :middle_name
  .btn-toolbar
    .btn-group
      = f.submit class: 'btn btn-primary', value: t('actions.save')
      = link_to t('actions.cancel'), users_path, class: 'btn'
    - if @user.persisted?
      = link_to @user, method: :delete, class: 'btn btn-danger', confirm: t('remove_confirm') do
        %i.icon-remove.icon-white
        = t('actions.remove')
