%h3
  = EmergencyContact.model_name.human(count: 2)
  .pull-right
    = link_to new_person_emergency_contact_path(person), class: 'btn btn-mini' do
      %i.icon-plus-sign
      = t('.add')

%table.table.table-condensed.table-bordered#emergency_contacts
  %thead
    %th= EmergencyContact.human_attribute_name(:name)
    %th= EmergencyContact.human_attribute_name(:relationship_type)
    %th= EmergencyContact.human_attribute_name(:phones)
    %th= EmergencyContact.human_attribute_name(:priority)
    %th
  %tbody
    - emergency_contacts.each do |emergency_contact|
      %tr
        %td= emergency_contact.name
        %td= emergency_contact.relationship_type
        %td= emergency_contact.phones
        %td= priority_to_text(emergency_contact.priority)
        %td.btn-group
          .pull-right
            = link_to edit_person_emergency_contact_path(person, emergency_contact), title: t('actions.edit'),
              class: 'btn btn-link btn-mini' do
              %i.icon-edit
            = link_to [person, emergency_contact], method: :delete, title: t('actions.remove'),
              confirm: t('remove_confirm'), class: 'btn btn-link btn-mini' do
              %i.icon-remove


