%h3 Аллергии

%table.table.table-condensed.table-bordered
  %thead
    %th= Allergy.human_attribute_name(:allergen)
    %th= Allergy.human_attribute_name(:allergen_type)
    %th= Allergy.human_attribute_name(:reaction)
    %th
  %tbody
    - allergies.each do |allergy|
      %tr
        %td= allergy.allergen
        %td= allergy.allergen_type
        %td= allergy.reaction
        %td.btn-group
          = link_to t('actions.edit'), edit_person_allergy_path(person, allergy), class: 'btn btn-mini'
          = link_to t('actions.remove'), [person, allergy], method: :delete,
            confirm: t('remove_confirm'),
            class: 'btn btn-danger btn-mini'

= link_to new_person_allergy_path(person), class: 'btn btn-mini' do
  %i.icon-plus-sign
  Добавить аллергию
