%table.table.table-condensed
  %thead
    %th Allergen
    %th Type
    %th Reaction
    %th
  %tbody
    - allergies.each do |allergy|
      %tr
        %td= allergy.allergen
        %td= allergy.allergen_type
        %td= allergy.reaction
        %td.btn-group
          = link_to 'Редактировать', edit_person_allergy_path(allergy.person, allergy), class: 'btn btn-mini'
          = link_to 'Удалить', [allergy.person, allergy], method: :delete,
            confirm: t('remove_confirm'),
            class: 'btn btn-danger btn-mini'
