%h3
  = Allergy.model_name.human(count: 2)
  .pull-right
    = link_to new_person_allergy_path(person), class: 'btn btn-mini' do
      %i.icon-plus-sign
      = t('.add')
%table.table.table-condensed.table-bordered
  %thead
    %th= Allergy.human_attribute_name(:allergen)
    %th= Allergy.human_attribute_name(:allergen_type)
    %th= Allergy.human_attribute_name(:reaction)
    %th
  %tbody
    - allergies.each do |allergy|
      %tr
        %td= allergy.allergen
        %td= allergy.allergen_type
        %td= allergy.reaction
        %td.btn-group
          .pull-right
            = link_to edit_person_allergy_path(person, allergy), class: 'btn btn-link btn-mini' do
              %i.icon-edit
            = link_to [person, allergy], method: :delete, confirm: t('remove_confirm'),
              class: 'btn btn-link btn-mini' do
              %i.icon-remove


