%h1
  = @allergy.persisted? ? t('actions.editing') : t('actions.adding')
  = t('.model_name_for_title')

= simple_form_for [@person, @allergy], html: {class: 'form-horizontal'} do |f|
  = f.input :title
  .btn-group
    = f.button :submit, class: 'btn-primary', value: t('actions.save')
    = link_to t('actions.cancel'), @person, class: 'btn'
