%h3
  = Location.model_name.human(count: 2)
  .pull-right
    = link_to new_person_location_path(person), class: 'btn btn-mini' do
      %i.icon-plus-sign
      = t('.add')

%table.table.table-condensed.table-hover
  %tbody#locations
    - locations.each do |location|
      %tr{ class: location.is_registration? ? 'info' : nil, data: { url: person_location_path(person, location) } }
        %td= location.description
        %td= format_address location
