%h3= Location.model_name.human(count: 2)

%table.table.table-condensed.table-bordered
  %thead
    %th= Location.human_attribute_name(:description)
    %th= Location.human_attribute_name(:address)
    %th= Location.human_attribute_name(:phone_number)
    %th
  %tbody
    - locations.each do |location|
      %tr{class: location.is_registration ? 'info' : nil}
        %td= location.description
        %td= format_address location
        %td= location.phone_number
        %td.btn-group
          = link_to t('actions.edit'), edit_person_location_path(person, location), class: 'btn btn-mini'
          = link_to t('actions.remove'), [person, location], method: :delete, confirm: t('remove_confirm'),
            class: 'btn btn-danger btn-mini'

= link_to new_person_location_path(person), class: 'btn btn-mini' do
  %i.icon-plus-sign
  = t('.add')
