%table.table.table-condensed
  %thead
    %th Description
    %th Address
    %th Phone
    %th
  %tbody
    - locations.each do |location|
      %tr{class: location.is_registration ? 'info' : nil}
        %td= location.description
        %td= format_address location
        %td= location.phone_number
        %td.btn-group
          = link_to t('actions.edit'), edit_person_location_path(location.person, location), class: 'btn btn-mini'
          = link_to t('actions.remove'), [location.person, location], method: :delete, confirm: t('remove_confirm'),
            class: 'btn btn-danger btn-mini'
