= form_for [person, Location.new], html: {class: 'form-horizontal'} do |f|
  .modal.hide.fade#new-location
    .modal-header
      %h3 Добавить локацию
    .modal-body
      .control-group
        %label.control-label Описание
        .controls
          = f.text_field :description
      .control-group
        %label.control-label Область
        .controls
          = f.text_field :region
      .control-group
        %label.control-label Город
        .controls
          = f.text_field :city
      .control-group
        %label.control-label Адрес
        .controls
          = f.text_field :address
      .control-group
        %label.control-label Телефон
        .controls
          = f.text_field :phone_number
    .modal-footer
      = f.submit 'Добавить', class: 'btn btn-primary'
      = link_to 'Отмена', '#', data: { dismiss: 'modal' }, class: 'btn'
