<h1>Listing locations</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Phone num</th>
    <th>City name</th>
    <th>Street name</th>
    <th>Street num</th>
    <th>Building num</th>
    <th>Entrance num</th>
    <th>Floor num</th>
    <th>Apartment num</th>
    <th>Postal code</th>
    <th>Address commment</th>
    <th>Is registration</th>
    <th>Is residence</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.description %></td>
    <td><%= location.phone_num %></td>
    <td><%= location.city_name %></td>
    <td><%= location.street_name %></td>
    <td><%= location.street_num %></td>
    <td><%= location.building_num %></td>
    <td><%= location.entrance_num %></td>
    <td><%= location.floor_num %></td>
    <td><%= location.apartment_num %></td>
    <td><%= location.postal_code %></td>
    <td><%= location.address_commment %></td>
    <td><%= location.is_registration %></td>
    <td><%= location.is_residence %></td>
    <td><%= location.person_id %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
